.material-symbols-outlined {
    color: #fff;
    display: block !important;
    order: 1;
    align-self: flex-end;
}


nav {
    justify-content: end;
    flex-direction: column;
}

ul {
    display: none !important;
    flex-direction: column;
    order: 2;
}

ul li {
    width: 100%;
}

.dropdown-menu {
    display: none !important;
    background-color: #696969;
    top: 49px;
}

.dropdown-menu a {
    text-align: left;
    padding: 14px 16px;
}

.show-menu {
    display: flex !important;
}

section {
    height: auto;
}

.first-sec {
    height: 100vh;
}

.first-sec article {
    width: 300px;
}

.first-sec article p {
    letter-spacing: 3px;
}

/* second section */
.second-section {
    padding: 80px 0;
}

.cards-container {
    flex-direction: column;
    gap: 50px;
}

.second-section h2 {
    margin: 0 0 35px;
}

/* third section */

.third-sec {
    height: auto;
}

.third-sec article {
    width: 300px;
}

form {
    width: 70%;
}