*,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    width: 100%;
    background-color: #696969;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.material-symbols-outlined {
    color: #fff;
    display: none !important;
    padding: 14px 16px;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 14px 16px;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
}

nav ul a:hover {
    background-color: #404040;
}

.drop-container {
    position: relative;

}

.drop-container>a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}

.arrow-down {
    display: block !important;
    padding: 14px 0;
}

.show-menu {
    display: flex !important;
}

.dropdown-menu {
    display: none;
    justify-content: start;
    flex-direction: column;
    position: absolute;
    top: 52px;
    background-color: #696969;
    text-align: center;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu a {
    padding: 14px 0;
}

/* .drop-container:hover .dropdown-menu {
    display: flex;
} */

section {
    height: 100vh;
    color: #fff;
    text-align: center;
    margin: 40px 0;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-sec,
.third-sec {
    background-color: #181818;
}

.first-sec h1 {
    margin-bottom: 20px;
    font-size: 30px;
}

article {
    width: 700px;
}

.first-sec article p {
    letter-spacing: 5px;
    line-height: 30px;
}

::selection {
    background-color: #000;
    color: #fff;
}

.second-section {
    background-color: #282828;
}

.second-section h2 {
    margin: 0 0 50px;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    width: 300px;
    border: 1px solid #fff;
}

.card img {
    width: 100%;
}

.card h3 {
    margin: 20px;
}

.card p {
    margin: 0 10px 20px;
}

.third-sec {
    margin-bottom: 0;
    height: auto;
}

.third-sec h2 {
    margin-bottom: 20px;
}

form {
    margin-top: 30px;
    width: 30%;
}

form label {
    display: block;
    text-align: left;
}

form input {
    display: block;
    width: 100%;
    padding: 16px 0;
    text-indent: 16px;
    margin: 0 0 20px;
}

form input[type="reset"] {
    display: inline;
    width: auto;
    text-indent: 0;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 600;
    background-color: #ee3434;
    color: #fff;
    cursor: pointer;
    border: 1px solid #000;
    transition: border 300ms ease-in-out;
}

form input[type="reset"]:hover {
    background-color: #9d2626;
    border: 1px solid #fff;
}

form button {
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 600;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #000;
}

form button:hover {
    background-color: #181818;
    color: #fff;
    border: 1px solid #fff;
}

footer {
    text-align: center;
    background-color: #696969;
}

footer p {
    margin: 0;
    padding: 14px 16px;
    color: #fff;
    font-weight: 500;
}

.toTop {
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    color: #000;
    padding: 14px 12px;
    border: 3px solid #000;
    border-radius: 50%;
    font-weight: 700;
    cursor: pointer;
}